.etl-collapse {
  position: absolute !important;
  top: 105px;
  bottom: 67px;
  width: 200px;
  z-index: 2;

  :global {
    .ant-card-body {
      padding: 0 !important;
      max-height: calc(100vh - 220px);
      overflow-y: auto;
    }

    .ant-card-head {
      padding: 0 10px 0 30px !important;
    }
  }
}

.track-right {
  position: absolute;
  top: 114px;
  cursor: pointer;
  background: #fff;
  z-index: 1;
  border-radius: 0 5px 5px 0;
  color: #108ee9;
}

.track-icon {
  margin: 10px;
}

.hide {
  transform: translate3d(-100%, 0, 0);
}

.show {
  transform: translate3d(0, 0, 0);
}

.ds-target-plus, .ds-source-plus {
  border: 1px dashed #d9d9d9;
  width: 96px;
  height: 96px;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  margin: 20px auto;
  color: #999;
}

.ds-target-plus:hover {
  border: 1px dashed #fd9130;
}

.ds-source-plus:hover {
  border: 1px dashed #6ca8ed;
}

.ds-plus-block {
  padding: 20px 0;

  & i {
    font-size: 28px;
  }
}

.ds-pop {
  padding: 0;

  :global {
    .ant-popover-inner-content {
      padding: 0;
    }
  }

  .ds-pop-content {
    padding: 8px 16px;
    cursor: pointer;

    &:hover {
      background: #ccc;
      color: #fff;
    }
  }
}

.ds-close {
  float: right;
  margin-right: 10px;
  color: #ccc;
  line-height: 22px !important;

  &:hover {
    color: #999;
  }
}

.ds-item {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 5px 10px;
  margin: 10px 0;
  border: 1px solid;
  border-radius: 25px;
  position: relative;

  .viewEdit {
    position: absolute;
    right: 20px;
    line-height: 15px;
    cursor: pointer;
    opacity: 0;

    &:hover {
      color: #6ca8ed;
    }
  }

  .viewDelete {
    position: absolute;
    right: 5px;
    line-height: 15px;
    cursor: pointer;
    opacity: 0;

    &:hover {
      color: #f5222d;
    }
  }

  &:hover {
    .viewEdit, .viewDelete {
      opacity: 1;
    }
  }
}

.dropDown {
  :global {
    .ant-collapse-content-box {
      text-align: center;
    }
  }
}

.addView {
  font-size: 20px;
  margin-top: 10px;
  cursor: pointer;

  &:hover {
    color: #108ee9;
  }
}